_site/tractor/cen1940A.dta
_site/tractor/filtered_df.csv
_site/tractor/midwest_state.rds
_site/tractor/ohio1940.dta
_site/tractor/ohio1940edu.csv
_site/tractor/vamFipsData.csv
_site/tractor/Tractor_Raw_Data/OhioTractorData/ohioTractor1930.csv
_site/tractor/Tractor_Raw_Data/OhioTractorData/ohioTractor1940.csv
_site/tractor/Tractor_Raw_Data/df29-69.csv
_site/tractor/Tractor_Raw_Data/filtered_df.csv
_site/tractor/Tractor_Raw_Data/rolledUp_all.csv
_site/tractor/Tractor_Raw_Data/tractor1930.csv
_site/tractor/Tractor_Raw_Data/tractor1940.csv
_site/tractor/Tractor_Raw_Data/TractorCoef.csv

_site/tractor/Edu_Raw_Data/OhioEduData/ohio1940edu.csv
_site/tractor/Edu_Raw_Data/OhioEduData/ohio1930edu.csv


tractor/cen1940A.dta
tractor/filtered_df.csv
tractor/midwest_state.rds
tractor/ohio1940.dta
tractor/ohio1940edu.csv
tractor/vamFipsData.csv


tractor/Tractor_Raw_Data/OhioTractorData/ohioTractor1930.csv
tractor/Tractor_Raw_Data/OhioTractorData/ohioTractor1940.csv
tractor/Tractor_Raw_Data/df29-69.csv
tractor/Tractor_Raw_Data/filtered_df.csv
tractor/Tractor_Raw_Data/rolledUp_all.csv
tractor/Tractor_Raw_Data/tractor1930.csv
tractor/Tractor_Raw_Data/tractor1940.csv
tractor/Tractor_Raw_Data/TractorCoef.csv

tractor/Edu_Raw_Data/OhioEduData/ohio1940edu.csv
tractor/Edu_Raw_Data/OhioEduData/ohio1930edu.csv
